<h1 class="subtitulo">Livro: {{booksId}}</h1>

{{#each phrase}}
<div class="card">




<h3> Título da resenha: <h2>{{this.title}}</h2></h3>
<h3>Resenha: <h2>{{this.phrase}}</h2></h3>

</div>
{{/each}}



