<link rel="stylesheet" href="/css/styles.css">
<h1 class="subtitulo">faça o Login</h1>

<form  action="/user/login" method="post">
<input class="formulario" type="text" name="email" placeholder="email">
<input class="formulario" type="password" name="pass" placeholder="senha">
<input class="formulario" type="submit" value="Entrar">

<p class="accountLink">Não tem conta?<a href="/user/register"> crie aqui</a></p>

</form>
