<h1 class="subtitulo">Cadastro de Conta</h1>
<link rel="stylesheet" href="/css/styles.css">
<form   action="/user/register" method="post">
<input class="formulario" type="text" name="email" placeholder="email">
<input class="formulario" type="password" name="password" placeholder="senha">
<input class="formulario" type="text" name="name" placeholder="nome">
<input class="formulario" type="text" name="surname" placeholder="sobrenome">
<input class="formulario" type="text" name="age" placeholder="idade">
<input class="formulario" type="text" name="location" placeholder="localidade">
<input class="formulario" id="enviar" type="submit" value="Cadastrar-se">
</form>
<p class="accountLink">já possui conta?<a href="/user/login"> entre aqui</a></p>